[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mypy = "*"
tortoise-orm = "*"
uvicorn = "*"
asyncpg = "*"
httpx = "*"
python-multipart = "*"
aiokafka = "*"

[dev-packages]

[requires]
python_version = "3.10"
